/* ver a responsividade do padding da página */

body {
	/* padding: 0 50px 0 50px;  ver o padding, formato em cada monitor. */
	width: 100%;
}

label {
	font-size: 26px;
	margin: 0 40px 0 0;
	line-height: 70px;
	display: none;
}

@media only screen and (max-width: 500px) {
	label {
		display: block;
		cursor: pointer;
	}
	.header_menu {
	}
}

#toggle {
	display: none;
}

.carousel-person {
	text-align: center;
}

.carousel-name {
	color: #c63527;
	font-size: 20px;
}

.carousel-role {
	color: #a4a3a3;
}

.carousel-section {
	margin: 25px 0 50px 0;
}

.carousel {
	margin: 25px 400px 25px 400px;
	display: flex;
	justify-content: space-between;
}

.arrowCarousel {
	display: inline-block;
	border: #c63527 1px solid;
	border-radius: 50%;
	text-align: center;
	padding-top: 12px;
	height: 50px;
	width: 50px;
}

.arrowCarousel i {
	color: #c63527;
	font-size: 25px;
}

.menu a {
	text-decoration: none;
	margin: 5px;
	color: #a4a3a3;
}

.header_menu {
	display: flex;
	justify-content: space-around;
	margin: 0 300px 0 300px;
	height: 70px;
	align-items: center;
}

.header_menu a:hover {
	text-decoration: none;
}

.header_menu_lista {
	display: flex;
	align-items: center;
	font-size: 14px;
	height: 70px;
}

.header_menu_lista .menu {
	display: flex;
	align-items: center;
	height: 70px;
	margin-bottom: 0;
	padding: 0;
}

.header_menu_lista .menu a {
	display: flex;
	align-items: center;
	padding: 0 10px 0 10px;
	margin: 0 10px 0 10px;
	height: 70px;
	text-decoration: none;
	transition: all 0.3;
}

.header_menu_lista .menu a:hover {
	background-color: #f0f0f0;
	color: #c63527;
}

.header_menu_icons {
	display: flex;
	margin-top: 10px;
}
.header_menu_icons li {
	display: inline;
}
.header_menu_icons li a {
	border: #efefef 1px solid;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: inline-block;
	text-align: center;
	color: #a4a3a3;
	font-size: 12px;
	outline: none;
}
.header_menu_icons i {
	position: relative;
	bottom: -3px;
	color: #999191;
}

.header_banner {
	width: auto;
	text-align: center;
}

.logo {
	max-width: 100%;
	height: auto;
}

.whoweare {
	margin: 15px 0 15px 0;
	display: flex;
	justify-content: flex-start;
}

.whoweare p {
	font-size: 20px;
	margin-bottom: 20px;
	color: #717372;
}

.whoweare_image {
	justify-content: flex-start;
	display: flex;
	align-items: center;
	margin-left: 50px;
}

.whoweare_image img {
	margin: 15px 0 15px 0;
	width: 400px;
}

#test {
	width: 250px;
	margin-bottom: 10px;
	height: 250px;
	background: #34495e;
	transform: scale(1);
	transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	border: none;
}
#test:hover {
	width: 500px;
	height: 500px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 1);
	color: white;
}
#test p {
	font-family: fantasy;
	font-size: 25px;
	color: white;
	transition: transform 1s ease-out;
	transition: transform 1s ease-out;
	-o-transition: transform 1s ease-out;
	-ms-transition: transform 1s ease-out;
	-moz-transition: transform 1s ease-out;
	-webkit-transition: transform 1s ease-out;
}
#test:hover p {
	transform: scale(2);
	transition: transform 1s;
	-o-transition: transform 1s;
	-ms-transition: transform 1ss;
	-moz-transition: transform 1s;
	-webkit-transition: transform 1s;
}

.contact_input {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
}

.contact_input input {
	margin: 10px;
	border-radius: 25px;
	border: none;
	padding: 10px 20px;
	outline: none;
	width: 300px;
}

.contact_input .inputbox-m {
	margin: 10px;
	border-radius: 25px;
	border: none;
	padding: 10px 20px 100px;
	outline: none;
}

.button-mail {
	border-color: #c63527;
	border-radius: 25px;
	color: #c63527;
	padding: 10px 0 10px 0;
	width: 120px;
}

footer {
	background-color: #717372;
	color: white;
}

.footer-menu-icons li a {
	border: #a5a5a5 1px solid;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	color: #a4a3a3;
}

.footer-menu-icons i {
	margin: 10px auto;
	position: relative;
	bottom: 3px;
	color: #a4a3a3;
}

.footer-menu-icons {
	display: flex;
}

.footer-menu-icons li {
	display: inline;
}
